{
    "networks": {
        "MegNet": {
            "NSPassword": "",
            "active": true,
            "address": "irc.megworld.co.uk",
            "channels": [
                "#bots"
            ],
            "commands": [],
            "ident": "MegBot",
            "ipv6": false,
            "modes": "+B",
            "nick": "MegTest1",
            "port": 9000,
            "realname": "MegBot",
            "ssl": true,
            "ssl_verify":false,
            "trigger": ","
        }
    },
	"blacklist": ["join", "part"],
    "paths": {
        "core": "megbot/core/",
        "data": "megbot/data/",
        "databases": "databases/",
        "libraries": "megbot/libraries/",
        "plugin": "megbot/plugins/"
    },
    "ctcp_options": {
        "version": "MegBot 0.6 http://github.com/xray7224/MegBot"
    },
    "plugin_options": {
        "__DEFAULTS__": {
            "timeout": 30
        },
        "8ball": {
            "replies": [
                "sure",
                "yerp",
                "no",
                "nope",
                "I'm not sure",
                "I'm too tired right now, ask later."
            ]
        },
        "translate": {
            "default_language": "en"
        }
    },
    "encodings": ["ISO8859-1"]
}
